.App{
    /* text-align: center; */
}
.box{
    max-width: 400px;
    margin:auto;
    border-radius: 10px;
    box-shadow: rgba(219, 139, 139, 0.16) 0px 1px 4px ;
    padding: 10px;
    background-color: aquamarine;
}

h1{
    font-size: 18px;
    text-align: center;
}
button{
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    color: #eee7e7;
    
}
button.delete{
    background-color: #1897bf;
    border-radius: 5px;
    border: none;
    justify-content: center;
    position: relative;
    left: 70px;
    
}
button.sub{
    background-color: #e40b0b;
    border-radius: 5px;
    border: none;
}
button.reset{
    background-color: #1b9ab9;
    border-radius: 5px;
    border: none;

}
